<div style="background: blue">

<p>{{counter.getCounter()}}</p>
<p>{{counterValue}}</p>

<div style="background-color: darkgreen; width: 100px; height:100px" (click)="increase()">INCREASE</div>
<div style="background-color: darkred; width: 100px; height:100px" (click)="reset()">RESET</div>

</div>
