<!--&lt;!&ndash;h1>Title: {{title}}</h1>-->
<!--&lt;!&ndash;div *ngIf="isActive">some Content</div>-->
<!--<div *ngFor="let item of items">[]</div>-->

<app-dog></app-dog>
<app-counter></app-counter>

<!--<app-hero-child *ngFor="let element of items" [name]="element.name" [value]="element.value"></app-hero-child>-->
<!--<form ngForm (ngSubmit)="addItem(item)" #item="ngForm">-->
<!--  <div>-->
<!--    <label for="name">Name</label>-->
<!--    <input name="name" ngModel id="name"/>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label for="value">Value</label>-->
<!--    <input name="value" ngModel id="value">-->

<!--  </div>-->
<!--  <button type="submit">Add</button>-->
<!--</form>-->
