<!--<p>dog works!</p>-->
<!--<div *ngFor="let dog of doggies">-->
  <!--  <div>{{dog.name}}</div>-->
  <!--  <div>{{dog.age}}</div>-->
  <!--  <app-hero-child [name]="dog.name" [age]="dog.age"></app-hero-child>-->
<!--</div>-->
<!--<div *ngIf="lessDogs">-->
<!--  Who let the dogs out?-->
<!--</div>-->
<!--<button (click)="woof()">BARK</button>-->
<!--<app-dog-child *ngFor="let dog of doggies" [dog]="dog"></app-dog-child>-->
<app-dog-child *ngFor="let dog of doggies"[dog]="dog"></app-dog-child>
<app-add-dog (addEvent)="addDog($event)"></app-add-dog>
