<form ngForm (ngSubmit)="onSubmit(dog)" #dog="ngForm">
<div>
  <label for="name">Name</label>
  <input type="text" name="name" ngModel id="name"#name="ngModel"required pattern="[A-Z][a-z]*"/>
  <div [hidden]="name.valid||name.pristine"class="alert">invalid name </div>
</div>
<div>
  <label for="age">Age</label>
  <input type="number" name="age" ngModel id="age" #age="ngModel"pattern="[1-9][8-9]*"/>
</div>
<button type = "submit">Add</button>
</form>
